html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../../public/joblybackground/joblybackground.jpeg');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: bottom right;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-list-companies,
.background-list-jobs,
.background-list-applications,
.background-edit-form,
.background-home-logged {
  background-color: rgb(156, 14, 174);
  height: 100%;
  min-height: 100vh;
  overflow: auto;
}

.background-home-logged {
  color: white;
  display: flex;
  justify-content: center;
}

.background-home-logged * {
  margin-top: 40vh;
}

.background-home-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.home-container-general {
  width: 550px;
  height: 380px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgba(155, 14, 174, 0.955);
  border-radius: 15%;
  animation: heartbeat 1s alternate infinite;
  position: relative;
}

.logo-container {
  width: 250px;
  height: auto;
  position: absolute;
  top: -120px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.home-welcome-container {
  padding: 5px 70px 5px 100px;
  margin-top: 50px;
}

.jobly-description-container {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.home-buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#home-button-register,
#home-button-login {
  font-size: 17px !important;
  width: 120px;
  font-weight: 700;
  margin-bottom: 100px;
}

#home-button-register a,
#home-button-login a {
  text-decoration: none;
  color: rgb(227, 10, 10);
  text-shadow: -0.8px -0.8px 0px rgb(242, 242, 242);
}

.navBar {
  background-color: rgb(255, 221, 0);
  position: sticky;
  top: 0;
}

.nav-Logo {
  font-size: 25px;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.5em;
  color: rgb(227, 10, 10);
  text-shadow: -2px -2px 0px rgb(87, 210, 232);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
}

#nav-logo-container {
  font-size: 20px;
  letter-spacing: normal;
}

.navBar-LoggedOut {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.navBar-Logged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 0 10px 0 10px;
  flex-wrap: wrap;
}

.nav-Links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.nav-Links a {
  color: rgb(227, 10, 10);
  font-weight: 700;
  text-shadow: 1px 1px 0px white;
  text-decoration: none;
  transition: font-size 0.2s;
}

.navBar-Welcome {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.navBar-Welcome h5 {
  color: rgb(227, 10, 10);
  font-weight: 700;
  text-shadow: 1px 1px 1px white;
}

.navBar-Welcome span {
  color: rgb(10, 115, 227);
  font-weight: 700;
  text-shadow: 1px 1px 1px white;
  margin-left: 3px;
}

.nav-Links a.active {
  font-size: large;
}

.form-component {
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 30px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(11, 149, 208, 0.809);
  color: white;
  border-radius: 10px;
  width: 600px;
  height: auto;
  padding-bottom: 40px;
  box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(89, 169, 203, 0.95);
}

#form-container-edit {
  border: 4px solid rgba(249, 249, 249, 0.751);
}

#form-container-register {
  height: auto;
  background-color: rgba(89, 169, 203, 0.95);
  color: white;
  font-size: large;
  font-weight: 600;
}

#form-container-login {
  height: auto;
  background-color: rgba(89, 169, 203, 0.95);
  color: white;
  font-size: large;
  font-weight: 600;
}

input {
  height: auto;
  font-size: 15px;
  border-radius: 8px;
  border: solid 1px;
  padding-left: 8px;
}

.alert {
  width: fit-content;
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 350px;
}

.input-container label {
  margin-bottom: 5px;
}
.input-container input {
  width: 100%;
}

.submit-edit {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.filter-results-container {
  font-size: 18px;
  padding: 10px;
  color: aliceblue;
}
.page-title {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 700;
}

.company-list-container,
.job-list-container,
.applications-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.company-container,
.job-container {
  border: 5px solid rgba(255, 98, 0, 0.77);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px 10px 20px;
  align-items: center;
  width: 50%;
  height: auto;
  min-height: 150px;
  margin: 10px 0 10px 0;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(238, 238, 238, 0.978);
  transition: background-color 0.3s;
  transition: margin 0.3s;
}

.company-container:hover,
.job-container:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.669);
  margin: 0px 20px 15px 0px;
  border: 6px solid rgba(255, 98, 0, 0.77);
}

.company-details,
.job-details-container {
  width: 75%;
  height: auto;
}

.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  width: auto;
}

.applied-msg {
  margin-right: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #20c53c;
  text-shadow: 1px 1px black;
  -webkit-text-stroke: 0.1px rgb(0, 0, 16);
}

.filter-form-container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 8px;
}
.filter-form-container div {
  display: flex;
}

.filter-input {
  width: 230px;
}

.company-details,
.job-details-container div {
  margin-bottom: 4px;
}

.alert-messages-container {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  color: white;
}

.btn {
  font-size: 14px !important;
}
